body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

header a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

.contact-info {
    position: absolute;
    top: 20px;
    right: 20px;
}

.contact-info p {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contact-info p.email {
    color: #3498db;
    font-size: 16px;
}

.contact-info p.phone {
    color: #2ecc71;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .contact-info {
        display: none;
    }
}

/* Filter section */
#filter {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

#filter label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    background-color: #f9f9f9;
    cursor: pointer;
}


#filter select::-ms-expand {
    display: none;
}

#filter select:hover {
    border-color: #666;
}

#filter select:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


#plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.plan-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.plan-card h2 {
    font-size: 1.2em;
}

.plan-card p {
    margin-top: 10px;
}

.plan-card button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.plan-card button:hover {
    background-color: #555;
}

footer {
    background-color: #555;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 30px;
    height: auto;
    margin-left: 5px;
}